@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=EB+Garamond:wght@400;500;700&family=Just+Another+Hand&family=Merriweather:wght@300&display=swap');
body{ 
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 1rem;
    background-color: #E9E1C3;
  
}


header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid grey;
}

h1, h2 {
    font-family: 'EB Garamond', serif;

}

a{
    text-decoration: none;
}

.first-header #profissional{
    font-family: 'Merriweather', serif;
}

.second-header #contact h5 {
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
    font-weight: lighter;
}

.centro{
    display: flex;
    height: 48rem;
}

main{
    display: flex;
    /* height: 48rem; */
    flex-direction: column;
    width: 79%;
    justify-content: space-evenly;
}

.experiencia{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
}

.objetivo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30%;
}

.lista-experiencias{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 88%;
}

.experiencia-li{
    margin-bottom: 1rem;
}

aside{
    display: flex;
    /* height: 48rem; */
    width: 21%;
    justify-content: center;
    align-content: space-around;
    border-style: inset;
}

aside figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30rem;
}

aside figure figcaption{
    font-size: 1.2rem;
    width: 20rem;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 1rem;

}

aside figure img{

    width: 20rem;
}

h5{
    font-family: 'EB Garamond', serif;
    font-size: 1.7rem;
}

p{
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
}


footer{
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    font-size: 1.5rem;
    padding: 0.4rem;
    font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
    color: #B8B6AD;
  
}

